<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="DD475EBC-D960-4AF4-BB8A-BE91FA942756"
           Language="1033"
           Manufacturer="Acme Corporation"
           Name="Mat App"
           Version="1.0.0.0">

    <Package InstallScope="perMachine" Compressed="yes" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<UIRef Id="WixUI_InstallDir" />
    

    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="MatApp">
          <Component Id="ProductComponent" Guid="DD475EBC-D960-4AF4-BB8A-BE91FA942756">
            <File KeyPath="yes" Source="build/Release/mat.exe"></File>
            <File Source="build/lib/Release/cgcustommath.dll"></File>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="AFeature">
      <ComponentRef Id="ProductComponent" />
    </Feature>

  </Product>
</Wix>